 /* Reset básico */
 *{padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 }
 
 :root 
 {
 
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba( 255, 255, 255, 0.5);  
  --surface-color: rgba(255, 255, 255, 0.02);
  --surface-color-hover: rgba(255, 255, 255, 0.09);
  --highlight-color: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./assets/moon-stars.svg);
  
 }
 
 .light {
 
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.2);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color:rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
  
 }
 
 body
 {
   background: var(--bg-url) no-repeat top center/cover;
   height: 100vh;
 }
 
 
 #container {
   color: white;
  width: 100%;
  max-width: 588px;
  margin:56px auto 0 ;
  padding: 0 24px;
 
 #profile {text-align: center;
  padding-top: 25px;
 
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
 }
 
 
 
 
 
 }
 #profile img {
  width: 112px;
  margin: 10px;
 }
 
 #profile p 
 {
   padding: 0 0 12px 0 ;
   font-family: "Matemasie", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: var(--text-color);
   line-height: 24px;
 
 }
    
 #switch {
 position: relative;
 width: 64px;
 margin: 0 auto;
 }
 
 
 #switch button
 {
 
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
 border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
 left: 0;
 transform: translateY(-50%);
 top: 50%;
 animation: slide-out 0.3s ;
 }
 
 .light #switch button{
 
 animation: slide-in 0.4s forwards;

 }
 #switch button:hover {

outline: 8px solid var(--highlight-color);

 }



 #switch span
 {
 display: block;
  width: 64px ;
  height: 24px;
 /* surface-color-dark-mode */
 background: var(--surface-color);
 /*stroke-color-dark-mode */
 border: 1px solid var(--stroke-color);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 9999px;
 }
 
 
 ul {
   font-family: "Matemasie", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: var(--text-color);
   line-height: 24px;
   list-style: none;
 
  display: flex;
  flex-direction: column;
  gap: 24px;
padding: 24px 0;
 }
 
 ul li a{
 display: flex;
 justify-content: center;
 height: 52px;
 align-items: center;
 color: var(--text-color);
  background:var(--surface-color);
 border: 1px solid var(--stroke-color) ;
 border-radius: 8px;
 -webkit-backdrop-filter: blur(4px);
 text-decoration: none;
 
 transition: background 0.5s;
 }
 
 ul li a:hover {
 background: var(--surface-color-hover);
 border: 1.5px solid var(--stroke-color);
 
 }
 
 #links {
 color: var(--text-color);
 display: flex;
 justify-content: center;
 gap: 32px;
 font-size:xx-large;
  padding: 24px 0;
 
 }
   #links a {
   color: var(--text-color);  
 display: flex;
 justify-content: center;
 padding: 24px;
 
 
 }
 
 #links a:hover  {
 transition: background 0,5s;
 border-radius: 50%;
 background: var(--highlight-color)
 
 }



/*queries*/
@media (min-windth 700px) {
  
 :root {
   --bg-url: url(./assets/bg.desktop.jpg)

}

 .light {

   --bg-url: url(./assets/bg.desktop-light.jpg)
}



}

 
/*animação*/
@keyframes slide-in {
  from{
    left: 0px ;
  }
to {
left: 50%;

}
}


@keyframes slide-out {

from{
left: 50%;

}

  to{

  left: 0px;
  }
}



















